@page "/use"

<div class="card">
    <div class="card-header">
        <button class="btn btn-outline-primary" @onclick="@ChangeSettingDisplay">@(new MarkupString(SettingTitle))</button>
    </div>
    @if (ShowSetting)
    {
        <div class="card-body">
            <MySettings LocalSettings="@setting"></MySettings>
        </div>
    }
</div>
<div class="card">
    <div class="card-header">
        <button class="btn btn-outline-primary" @onclick="@ChangeGeneratorDisplay">@(new MarkupString(GeneratorTitle))</button>
    </div>
    @if (ShowGenerator)
    {
        <div class="card-body">
            <MyGenerator Exercises="@tableData" LocalSettings="@setting"></MyGenerator>
        </div>
    }
</div>
<div class="card">
    <div class="card-header">
        <button class="btn btn-outline-primary" @onclick="@ChangeCheckerDisplay">@(new MarkupString(CheckerTitle))</button>
    </div>
    @if (ShowChecker)
    {
        <div class="card-body">
            <MyChecker Exercises="@Exercises"></MyChecker>
        </div>
    }
</div>